{%- from "psono/map.jinja" import config with context %}
{%- set env_file = '{}/.env'.format(config.location) %}
{%- set nginx_conf = '{}/nginx.conf'.format(config.location) %}
{%- set config_json = '{}/config.json'.format(config.location) %}
{%- set settings_yaml = '{}/settings.yaml'.format(config.location) %}
version: '3'

services:
  {%- if config.images.database and config.images.database.enable == 'true' %}
  psono-database:
    image: {{ config.images.database.image | default('psono/psono-postgres:latest') }}
    restart: unless-stopped
    env_file:
    - {{ env_file }}
    volumes:
    - psono-db-data:/var/lib/postgresql/data
    networks:
    - psono-backend
  {%- endif %}

  {%- if config.images.fileserver and config.images.fileserver.enable == 'true' %}
  psono-fileserver:
    image: {{ config.images.fileserver.image | default('psono/psono-fileserver:latest') }}
    restart: unless-stopped
    volumes:
    - {{ settings_yaml }}:/root/.psono_server/settings.yaml:ro
    - {{ config_json }}:/usr/share/nginx/html/config.json:ro
    env_file:
    - {{ env_file }}
    networks:
    - psono-backend
  {%- endif %}

  psono-client:
    image: {{ config.images.client.image | default('psono/psono-client:latest') }}
    restart: unless-stopped
    # ports:
    # - 10102:80
    env_file:
    - {{ env_file }}
    volumes:
    - {{ config_json }}:/usr/share/nginx/html/config.json:ro
    networks:
    - psono-backend

  psono-server:
    image: {{ config.images.server.image | default('psono/psono-server:latest') }}
    restart: unless-stopped
    # ports:
    # - 10103:80
    env_file:
    - {{ env_file }}
    volumes:
    - {{ settings_yaml }}:/root/.psono_server/settings.yaml:ro
    - {{ config_json }}:/usr/share/nginx/html/config.json:ro
    networks:
    - psono-backend


  psono-admin:
    image: {{ config.images.admin.image | default('psono/psono-admin-client:latest') }}
    restart: unless-stopped
    # ports:
    # - 10104:80
    env_file:
    - {{ env_file }}
    volumes:
    - {{ config_json }}:/usr/share/nginx/html/portal/config.json:ro
    networks:
    - psono-backend

  nginx:
    image: {{ config.images.nginx.image | default('nginx:latest') }}
    restart: unless-stopped
    ports:
    {%- for port_map in config.images.nginx.ports %}
    - '{{ port_map }}'
    {%- endfor %}
    env_file:
    - {{ env_file }}
    volumes:
    - {{ nginx_conf }}:/etc/nginx/conf.d/default.conf:ro
    networks:
    - psono-backend

{%- if config.images.mailhog and config.images.mailhog.enable == 'true' %}
  mailhog:
    image: {{ config.images.mailhog.image | default('mailhog/mailhog:latest') }}
    networks:
    - psono-backend
    ports:
    - {{ config.images.mailhog.port | default("9025") }}:8025
{%- endif %}

networks:
  psono-backend: {}

{%- if config.images.database and config.images.database.enable == 'true' %}
volumes:
  psono-db-data:
{%- endif %}
